    {% load static %}
    {% load bootstrap5 %}
    {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Deletar Ativo</title>
</head>
<body>
    <divcab>    
        <h2>Prefeitura Municipal de Iracemápolis - Controle de Estoque - TI</h2>
        <h1>Deletar Ativo</h1>
    </divcab>
    <divform>
        <form method="post">
            {% csrf_token %}
            <h2>Você tem certeza que quer deletar este ativo {{ ativo.Ativo }} ?</h2>
            <button type="submit">Confirmar?</button>
            <input type='button' value='Voltar' onclick='history.go(-1)' />
        </form>
    </divform>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>