    {% load static %}
    {% load bootstrap5 %}
    {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Ítem</title>
</head>
<body>
    <divclass class="countainer">
        <divcab calss="row">
            <h2>Prefeitura Municipal de Iracemápolis - Controle de Estoque - TI</h2>
            <h1>Alterar ou Cadastrar Ítens</h1>
        </divcab>

        <divform class="row">
            <form action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Salvar">
            </form>
        </divform>
        <divbutton>
            <a href='http://127.0.0.1:8000/item/listitem/'><button>Listar Ítens</button></a>
            <a href='/'><button>Voltar</button></a>
        </divbutton>
        {% if item %}
            <a href="{% url 'deleteItemViews' item.id %}">Delete</a>
        {% endif %}
    </divclass>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>