    {% load static %}
    {% load bootstrap5 %}
    {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Lista de Saídas</title>
</head>
<body>
    <divcab>
        <h2>Prefeitura Municipal de Iracemápolis - Controle de Estoque - TI</h2>
        <h1>Lista de Saídas</h1>
    </divcab>
        <divlist>
            <ul>
                {% for saida in saida %}
                <li>Data: {{ saida.data }} -|- Ativo: {{ saida.ativo }} -|- Ítem: {{ saida.item }} -|- Quantidade: {{ saida.quant }}</li>
                {% endfor %}
            </ul>
        </divlist>
    <divbutton>
        <a href='/'><button>Voltar</button></a>
    </divbutton>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>